# Bin/binディレクトリとその中身を除外する
#[Bb]in/

__pycache__/
*.pyc
images/
他ゲー参考/
追加/
移植計画書/

save_data/*
!save_data/winner.json
!save_data/protected_users/
!save_data/protected_users/**
**/banklog/*.*
**/charalog/*.*
**/charalog2/*.*
**/item/*.*
!data/item/
!data/item/**
**/souko/**/*
**/syoku/*.*
**/sousin/*.*

**/change_data/**/
