<STYLE type="text/css">
<!--
TD{
  font-family : ‚l‚r@–¾’©;
  font-size:12px;
  color:#8888cc;
}
p,font,b{
  font-family : ‚l‚r@–¾’©;
}
a:link{
  font-family : ‚l‚r@–¾’©;
  font-size:12px;
  color:#8888ff;
  text-decoration:none;
}
a:visited{
  font-family : ‚l‚r@–¾’©;
  font-size:12px;
  color:#8888ff;
  text-decoration:none;
}
a:active{
  font-family : ‚l‚r@–¾’©;
  font-size:12px;
  color:#999999;
  text-decoration:none;
}
a:hover {
  font-family : ‚l‚r@–¾’©;
  font-size:12px;
  color:#ff5500;
  text-decoration:none;
}
#td1{
  font-family : ‚l‚r@–¾’©;
  font-size:16px;
  color:#ffff00;
  background-color :#000066;
border-top : 1px solid #aaaaFF; 
border-bottom : 1px solid #aaaaFF; 
border-left : 1px solid #aaaaFF; 
border-right : 1px solid #aaaaFF; 
 }
#td2{
  font-family : ‚l‚r@–¾’©;
  font-size:12px;
  color:#aaaaff;
  background-color :#006600;
border-top : 1px solid #aaFFaa; 
border-bottom : 1px solid #aaFFaa; 
border-left : 1px solid #aaFFaa; 
border-right : 1px solid #aaFFaa; 
 }
TH{
  font-family : ‚l‚r@–¾’©;
  font-size:14px;
  color:#ffff22;
  background-color :#660000;
}
.b1 { 
border-top : 1px solid #0000FF; 
border-bottom : 1px solid #0000FF; 
border-left : 1px solid #0000FF; 
border-right : 1px solid #0000FF; 
}
.b2 { 
border-top : 1px solid #5555FF; 
border-bottom : 1px solid #5555FF; 
border-left : 1px solid #5555FF; 
border-right : 1px solid #5555FF; 
}
.btn { 
font-family : ‚l‚r@–¾’©;font-size:12px;color:#00aaff;
border-top : 1px solid #9999ff; 
border-bottom : 1px solid #000011; 
border-left : 1px solid #8888dd; 
border-right : 1px solid #000022; 
background-color :#000033;
}
</STYLE>
