<STYLE type="text/css">
<!--
#td1{

  font-family : ＭＳ　明朝;

  font-size:16px;

  color:#ffff00;

  background-color :#006666;

border-top : 1px solid #aaaaFF; 

border-bottom : 1px solid #aaaaFF; 

border-left : 1px solid #aaaaFF; 

border-right : 1px solid #aaaaFF; 

 }
#td2{

  font-family : ＭＳ　明朝;

  font-size:12px;

  color:#6600ff;

  background-color :#00cc66;

border-top : 1px solid #aaFFaa; 

border-bottom : 1px solid #aaFFaa; 

border-left : 1px solid #aaFFaa; 

border-right : 1px solid #aaFFaa; 

 }

.b2 { 

border-top : 1px solid #5555FF; 

border-bottom : 1px solid #5555FF; 

border-left : 1px solid #5555FF; 

border-right : 1px solid #5555FF; 

background-color :#ccffcc;
}
TD{
  font-family : ＭＳ　明朝;
  font-size:12px;
  color:#8888cc;
}
p,font,b{
  font-family : ＭＳ　明朝;
}
a:link{
  font-family : ＭＳ　明朝;
  font-size:12px;
  color:#8888ff;
  text-decoration:none;
}
a:visited{
  font-family : ＭＳ　明朝;
  font-size:12px;
  color:#8888ff;
  text-decoration:none;
}
a:active{
  font-family : ＭＳ　明朝;
  font-size:12px;
  color:#999999;
  text-decoration:none;
}
a:hover {
  font-family : ＭＳ　明朝;
  font-size:12px;
  color:#ff5500;
  text-decoration:none;
}
TH{
  font-family : ＭＳ　明朝;
  font-size:14px;
  color:#ffff22;
  background-color :#660000;
}
.b1 { 
border-top : 1px solid #0000FF; 
border-bottom : 1px solid #0000FF; 
border-left : 1px solid #0000FF; 
border-right : 1px solid #0000FF; 
}
-->
</STYLE>
