<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.main_title }}{% endblock %}</title>
    
    <!-- 新設計の分離CSSの読み込み -->
    <link rel="stylesheet" href="html/new_common.css" type="text/css">
    <link rel="stylesheet" href="html/new_game.css" type="text/css">
    <link rel="stylesheet" href="html/mobile.css" type="text/css">
    <script src="html/const.js" type="text/javascript"></script>
    

    {% block head %}{% endblock %}
</head>
<body>

    <!-- 音楽再生 (MIDI設定) -->
    {% if config.midi_set and midi %}
    <embed src="{{ midi }}" type="audio/midi" height="2" autostart="true" repeat="true" save="false" volume="100" width="2">
    {% endif %}

    <!-- メインコンテンツ -->
    <div id="main-content">
        {% block content %}{% endblock %}
    </div>

    <!-- 共通フッター -->
    {% block footer %}
    <hr size="1" color="{{ config.dark }}">
    <div align="center">
        <a href="{{ config.scripto }}">【{{ config.main_title }} TOP】</a>
    </div>
    <hr size="0" width="100%">
    <div align="right" style="font-size: 10px; color: {{ config.vlink }};">
        FFA改 Vips Ver 3.00 (Original ver2.00 edit by <a href="http://www.eriicu.com" target="_blank">いく</a>)<br>
        FFA Emilia Ver1.01 remodeled by Classic<br>
    </div>
    {% endblock %}

</body>
</html>
