{% extends "base.html" %}

{% block title %}エラー - {{ config.main_title }}{% endblock %}

{% block content %}
<div class="err-container">
    <div class="card err-card">
        <div class="card__header err-card__header">⚠️ ERROR</div>
        <div class="card__body err-card__body">
            <p class="u-text-large">
                {{ error_message | safe }}
            </p>
            <br>
            <input type="button" class="btn btn--danger btn--sm" value="戻る" onclick="history.back()">
        </div>
    </div>
</div>
{% endblock %}
