{% extends "base.html" %}

{% block title %}宿屋 - {{ config.main_title }}{% endblock %}

{% block content %}
<div class="layout-stack content-sm u-mt-xl">
    <div class="card card--success u-text-center">
        <div class="card__header">🏨 宿屋にて休養しました</div>
        <div class="card__body">
            <span>
                宿代として <b>{{ yado_daix }}</b> G を支払い、体力が全回復しました！
            </span>
        </div>
        <div class="card__footer">
            <form action="{{ config.main_script }}" method="POST" class="u-m-0">
                <input type="hidden" name="s" value="{{ csrf_token }}">
                <input type="hidden" name="id" value="{{ chara.id }}">
                <input type="submit" class="btn btn--block" value="街に戻る">
            </form>
        </div>
    </div>
</div>
{% endblock %}
