{% extends "base.html" %}

{% block title %}キャラクター画像一覧 - {{ config.main_title }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="system-container">
    <div class="system-header-title">利用可能なキャラクター画像一覧</div>
    
    <div class="system-subtitle">
        プロフィール変更時、使いたい画像の「番号」をフォームに入力するクポ。
    </div>

    <!-- 画像グリッド -->
    <div class="system-img-grid">
        {% for img in chara_img %}
        <div class="system-img-card">
            <img src="{{ config.img_path }}/{{ img }}" class="system-img-element"><br>
            <span class="system-img-num">No.{{ loop.index0 }}</span>
        </div>
        {% endfor %}
    </div>

    <div class="u-text-center">
        <a href="javascript:window.close();" class="btn">❌ このウィンドウを閉じる</a>
    </div>
</div>
{% endblock %}
