{% extends "base.html" %}

{% block content %}

<div class="dendo-container">
  <div class="dendo-title">
    殿堂入りチョコボの一覧
  </div>

  {% if registered_msg %}
    <div class="style-cls-97">
      {{ registered_msg }}
    </div>
  {% endif %}

  <form action="{{ config.crace_script }}" method="post">
    <input type="hidden" name="id" value="{{ chara.id }}">
    <input type="hidden" name="mydata" value="{{ chara_log }}">
    <input type="hidden" name="mode" value="race_dendo">

    {% for dc in dendo_list %}
      <div class="dendo-card">
        <table class="dendo-table">
          <tr>
            <!-- エントリー選択スロット -->
            <td class="style-cls-98" rowspan="5">
              <div class="style-cls-99">出走枠登録</div>
              <div class="radio-group style-cls-100">
                <label class="radio-item"><input type="radio" name="enter1" value="{{ loop.index0 }}"> 枠1 (挑戦馬)</label>
                <label class="radio-item"><input type="radio" name="enter2" value="{{ loop.index0 }}"> 枠2 (対戦相手1)</label>
                <label class="radio-item"><input type="radio" name="enter3" value="{{ loop.index0 }}"> 枠3 (対戦相手2)</label>
                <label class="radio-item"><input type="radio" name="enter4" value="{{ loop.index0 }}"> 枠4 (対戦相手3)</label>
                <label class="radio-item"><input type="radio" name="enter5" value="{{ loop.index0 }}"> 枠5 (対戦相手4)</label>
              </div>
            </td>
            
            <td class="style-cls-101" rowspan="5">
              <img class="style-cls-102" src="{{ config.img_farm }}/{{ config.choco_images[dc.no] }}">
            </td>
            
            <td class="lbl-header">名前</td>
            <td><strong>{{ dc.name }}</strong></td>
            <td class="lbl-header">性別</td>
            <td>{{ '♂' if dc.sex == 1 else '♀' }}</td>
            <td class="lbl-header">瞬発力</td>
            <td class="lbl-header">持久力</td>
            <td class="lbl-header">粘り強さ</td>
            <td class="lbl-header">落ち着き</td>
            <td class="lbl-header">闘争心</td>
            <td class="lbl-header">知力</td>
            <td class="lbl-header">切れ味</td>
          </tr>
          <tr>
            <td class="lbl-header">タイプ</td>
            <td><span class="style-cls-64">{{ types[dc.type] }}</span></td>
            <td class="lbl-header">戦績</td>
            <td>{{ dc.run }}戦 {{ dc.win }}勝</td>
            <td rowspan="2"><img src="{{ config.img_farm }}/{{ rank_imgs[dc.c0_t] }}" class="rank-img"></td>
            <td rowspan="2"><img src="{{ config.img_farm }}/{{ rank_imgs[dc.c1_t] }}" class="rank-img"></td>
            <td rowspan="2"><img src="{{ config.img_farm }}/{{ rank_imgs[dc.c2_t] }}" class="rank-img"></td>
            <td rowspan="2"><img src="{{ config.img_farm }}/{{ rank_imgs[dc.c3_t] }}" class="rank-img"></td>
            <td rowspan="2"><img src="{{ config.img_farm }}/{{ rank_imgs[dc.c4_t] }}" class="rank-img"></td>
            <td rowspan="2"><img src="{{ config.img_farm }}/{{ rank_imgs[dc.c5_t] }}" class="rank-img"></td>
            <td rowspan="2"><img src="{{ config.img_farm }}/{{ rank_imgs[dc.c6_t] }}" class="rank-img"></td>
          </tr>
          <tr>
            <td class="lbl-header">父親</td>
            <td>{{ dc.father }}</td>
            <td class="lbl-header">母親</td>
            <td>{{ dc.mother }}</td>
          </tr>
          <tr>
            <td class="lbl-header">ブリーダー</td>
            <td>{{ dc.breader }}</td>
            <td class="lbl-header">価値</td>
            <td class="style-cls-78">{{ dc.gold * 100 }} G</td>
            <td colspan="7" class="lbl-header style-cls-103">獲得G1/G2タイトル</td>
          </tr>
          <tr>
            <td class="lbl-header">トレーニング</td>
            <td>{{ dc.train }} 回</td>
            <td class="lbl-header">限界値</td>
            <td>{{ dc.max }}</td>
            <td class="style-cls-104" colspan="7">
              {{ dc.trophy_str|safe }}
            </td>
          </tr>
        </table>
      </div>
    {% else %}
      <div class="style-cls-105">
        現在殿堂入りしているチョコボはいません。
      </div>
    {% endfor %}

    {% if dendo_list|length >= 5 %}
      <div class="style-cls-106">
        <input type="submit" class="btn-farm" value="殿堂チョコボのレジェンドレース開始">
      </div>
    {% else %}
      <div class="style-cls-107">
        レジェンドレースを行うには、少なくとも 5 頭以上の殿堂入りチョコボが必要です。<br>
        (現在: {{ dendo_list|length }} 頭)
      </div>
    {% endif %}
  </form>

  <div class="style-cls-108">
    <form action="{{ config.chocofarm_script }}" method="post">
      <input type="hidden" name="id" value="{{ chara.id }}">
      <input type="hidden" name="mydata" value="{{ chara_log }}">
      <input type="submit" class="btn-farm btn-secondary style-cls-109" value="牧場に戻る">
    </form>
  </div>
</div>
{% endblock %}
