{% extends "base.html" %}

{% block title %}エラー - {{ config.main_title }}{% endblock %}

{% block content %}
<div align="center">
    <br><br>
    <table border="1" cellspacing="0" cellpadding="10" bgcolor="#220000" bordercolor="{{ config.color_red }}">
        <tr>
            <td align="center">
                <span class="font-size-4 color-configred"><b>ERROR !!</b></span>
                <br><br>
                <span class="color-configtext">
                    {{ error_message | safe }}
                </span>
                <br><br>
                <input class="style-cls-110" type="button" value="戻る" onclick="history.back()">
            </td>
        </tr>
    </table>
    <br><br>
</div>
{% endblock %}
