{% extends "base.html" %}

{% block title %}パスワード変更完了 - {{ config.main_title }}{% endblock %}

{% block content %}
<div align="center">
    <br><br><br>
    <table class="style-cls-205" border="1" cellspacing="0" cellpadding="15" bgcolor="#030315" bordercolor="{{ config.color_dark }}">
        <tr bgcolor="#0a0a25">
            <td class="style-cls-18" align="center">
                <span class="font-size-4 color-88ff88"><b>🎉 パスワード変更完了</b></span>
            </td>
        </tr>
        <tr>
            <td class="style-cls-206" align="center">
                <p class="style-cls-207">
                    新しいパスワードの設定が完了しました。
                </p>
                <p class="style-cls-166">
                    次回ログイン時からは新しいパスワードをご使用ください。<br>
                    （ログイン用クッキー情報も更新されました）
                </p>
            </td>
        </tr>
    </table>
    <br><br>
    
    <!-- ステータス画面へ戻る -->
    <form action="{{ config.main_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
        <input type="hidden" name="id" value="{{ user_id }}">
        <input type="submit" class="btn" value="ステータス画面へ">
    </form>
    <br><br><br>
</div>
{% endblock %}
