{% extends "base.html" %}

{% block title %}{% if mode == 'ban' %}拒否者設定{% else %}友達登録{% endif %} - {{ config.main_title }}{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div align="center">
    <br>
    {% if mode == 'ban' %}
        <h1 class="style-cls-248">🚫 拒否者設定リスト</h1>
        <p class="style-cls-16">嫌がらせや迷惑メッセージを送る特定の相手からの受信を拒否できます。</p>
    {% else %}
        <h1 class="style-cls-249">🤝 友達登録リスト</h1>
        <p class="style-cls-16">受信制限（受信凍結）中であっても、メッセージを受け付ける友達を指定します。</p>
    {% endif %}
    <hr class="style-cls-49" size="1" color="{{ config.color_dark }}">
    
    <br>

    <div class="list-container">
        <!-- 1. 新規追加フォーム -->
        <form class="style-cls-250" action="{{ config.post_message_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
            <input type="hidden" name="id" value="{{ chara.id }}">
            <input type="hidden" name="mode" value="ban_do">
            <input type="hidden" name="bansts" value="{% if mode == 'ban' %}1{% else %}2{% endif %}">
            
            <table class="style-cls-251" border="0" cellpadding="4">
                <tr>
                    <td><b>名前を指定して追加:</b></td>
                    <td>
                        <input class="style-cls-44" type="text" name="mesname" size="15">
                    </td>
                    <td>
                        <input type="submit" class="btn style-cls-252" value="登録する">
                    </td>
                </tr>
            </table>
        </form>

        <!-- 2. リスト表示 ＆ 削除フォーム -->
        <form action="{{ config.post_message_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
            <input type="hidden" name="id" value="{{ chara.id }}">
            <input type="hidden" name="mode" value="ban_do">
            <input type="hidden" name="bansts" value="0"> <!-- 0は解除 -->
            
            <h3 class="style-cls-253">
                {% if mode == 'ban' %}現在の拒否者一覧{% else %}現在の友達一覧{% endif %}
            </h3>
            
            <select class="style-cls-254" name="mesid" size="8">
                {% for item in list %}
                <option value="{{ item.id }}">{{ item.name }} さん (ID: {{ item.id }})</option>
                {% else %}
                <option value="">登録されているキャラクターはいません</option>
                {% endfor %}
            </select>
            
            <br><br>
            {% if list %}
            <input type="submit" class="btn style-cls-255" value="選択した相手をリストから解除">
            {% endif %}
        </form>
    </div>

    <br><br>
    
    <!-- 戻るボタン -->
    <form class="style-cls-39" action="{{ config.post_message_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="submit" class="btn" value="郵便局に戻る">
    </form>
    
    <form class="style-cls-40" action="{{ config.main_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="submit" class="btn" value="ステータス画面へ">
    </form>
    <br><br><br>
</div>
{% endblock %}
