{% extends "base.html" %}

{% block title %}送信完了 - {{ config.main_title }}{% endblock %}

{% block content %}
<div align="center">
    <br><br><br>
    <table class="style-cls-240" border="1" cellspacing="0" cellpadding="15" bgcolor="#030315" bordercolor="{{ config.color_dark }}">
        <tr bgcolor="#0a0a25">
            <td class="style-cls-18" align="center">
                <span class="font-size-4 color-66aaff"><b>✉️ メッセージ送信完了</b></span>
            </td>
        </tr>
        <tr>
            <td class="style-cls-206" align="center">
                <p class="style-cls-241">
                    {{ aite_name }} さんへメッセージを送りました。
                </p>
                <p class="style-cls-16">
                    郵便局の送受信履歴に正しく記録されました。
                </p>
            </td>
        </tr>
    </table>
    
    <br><br>
    
    <!-- 戻るボタン -->
    <form class="style-cls-39" action="{{ config.post_message_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="submit" class="btn" value="郵便局に戻る">
    </form>
    
    <form class="style-cls-40" action="{{ config.main_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="submit" class="btn" value="街に戻る">
    </form>
    <br><br><br>
</div>
{% endblock %}
