{% extends "base.html" %}

{% block title %}宛先選択 - {{ config.main_title }}{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<div align="center">
    <br>
    <h1 class="style-cls-211">✉️ 送信先キャラクター選択</h1>
    <p class="style-cls-16">メッセージを送る相手を登録者一覧から選択します。</p>
    <hr class="style-cls-49" size="1" color="{{ config.color_dark }}">
    
    <br>

    <div class="select-container">
        <form action="{{ config.post_message_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
            <input type="hidden" name="id" value="{{ chara.id }}">
            <input type="hidden" name="mode" value="message">
            
            <table class="style-cls-16" border="0" cellpadding="8" cellspacing="0" width="100%">
                <tr>
                    <td align="right" width="30%"><b>メッセージ本文:</b></td>
                    <td align="left" width="70%">
                        <textarea class="style-cls-259" name="mes" cols="40" rows="3"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top"><b>送信相手の選択:</b></td>
                    <td align="left">
                        <select class="style-cls-260" name="mesid" size="15">
                            {% for player in players %}
                            <option value="{{ player.id }}">{{ player.name }} さん (Lv.{{ player.level }} / {{ config.chara_jobs[player.job] }})</option>
                            {% else %}
                            <option value="">現在登録されている冒険者は他にいません</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <br>
                        <input type="submit" class="btn style-cls-258" value="選択した相手にメッセージを送信">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <br><br>
    
    <!-- 戻るボタン -->
    <form class="style-cls-39" action="{{ config.post_message_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="submit" class="btn" value="郵便局に戻る">
    </form>
    
    <form class="style-cls-40" action="{{ config.main_script }}" method="POST">
        <input type="hidden" name="s" value="{{ csrf_token }}">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="submit" class="btn" value="街に戻る">
    </form>
    <br><br><br>
</div>
{% endblock %}
