{% extends "base.html" %}

{% block title %}{{ shop_title }} - {{ config.main_title }}{% endblock %}

{% block content %}
<div align="center">
    <h1>{{ shop_title }}</h1>
    <hr size="1" color="{{ config.color_dark }}">

    <!-- 店主のメッセージ -->
    <div class="style-cls-272">
        <b>店主：</b><br>
        <span class="yellow">{{ shop_msg | safe }}</span>
    </div>

    <div class="style-cls-27">
        現在の所持金：<b><span class="yellow">{{ chara.gold }}</span></b> G
    </div>

    <!-- 現在の装備品の売却フォーム -->
    <table class="style-cls-273" border="1" cellspacing="0" cellpadding="6">
        <tr bgcolor="#111133">
            <td colspan="5" align="center" class="white"><b>現在の装備品（下取り）</b></td>
        </tr>
        <tr bgcolor="#030310" align="center">
            <td width="15%"><span class="small-text">操作</span></td>
            <td width="20%"><span class="small-text">状態</span></td>
            <td width="30%"><span class="small-text">名前</span></td>
            <td width="15%"><span class="small-text">性能</span></td>
            <td width="20%"><span class="small-text">下取り価格</span></td>
        </tr>
        <tr align="center">
            <td>
                {% if equipped_item.id and equipped_item.id != 0 %}
                <form class="style-cls-30" action="{{ post_url }}" method="POST">
                    <input type="hidden" name="id" value="{{ chara.id }}">
                    <input type="hidden" name="mode" value="sell">
                    <input type="submit" class="btn style-cls-31" value="売却">
                </form>
                {% else %}
                -
                {% endif %}
            </td>
            <td>装備中</td>
            <td><b>{{ equipped_item.name }}</b></td>
            <td>{{ equipped_item.power }}</td>
            <td><span class="yellow">{{ equipped_item.sell_gold }}</span> G</td>
        </tr>
    </table>

    <br>

    <!-- 購入可能な商品リスト -->
    <form class="style-cls-274" action="{{ post_url }}" method="POST">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="hidden" name="mode" value="buy">
        
        <table class="style-cls-275" border="1" cellspacing="0" cellpadding="6">
            <tr bgcolor="#111133">
                <td colspan="5" align="center" class="white"><b>販売商品リスト</b></td>
            </tr>
            <tr bgcolor="#030310" align="center">
                <td width="10%"><span class="small-text">選択</span></td>
                <td width="15%"><span class="small-text">No.</span></td>
                <td width="40%"><span class="small-text">商品名</span></td>
                <td width="15%"><span class="small-text">性能</span></td>
                <td width="20%"><span class="small-text">販売価格</span></td>
            </tr>
            {% for item in shop_items %}
            <tr align="center">
                <td>
                    {% if chara.gold >= item.gold %}
                    <input type="radio" name="item_no" value="{{ item.no }}">
                    {% else %}
                    <span class="red"><span class="small-text">不可</span></span>
                    {% endif %}
                </td>
                <td>{{ item.no }}</td>
                <td class="style-cls-180" align="left">{{ item.name }}</td>
                <td>{{ item.power }}</td>
                <td><span class="yellow">{{ item.gold }}</span> G</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" align="center">現在、販売している商品はありません。</td>
            </tr>
            {% endfor %}
        </table>
        
        <div class="style-cls-66">
            <input type="submit" class="btn style-cls-276" value="選択した商品を購入する">
        </div>
    </form>

    <br>
    <form action="{{ config.main_script }}" method="POST">
        <input type="hidden" name="id" value="{{ chara.id }}">
        <input type="submit" class="btn" value="街に戻る">
    </form>
    <br><br>
</div>
{% endblock %}
