{% extends "base.html" %}

{% block title %}戦闘待機中 - {{ config.main_title }}{% endblock %}

{% block head %}

<script type="text/javascript">
    var leftTime = {{ left_time }};
    
    function startTimer() {
        var timerDisplay = document.getElementById("timer-sec");
        var btnNext = document.getElementById("btn-next");
        
        var interval = setInterval(function() {
            leftTime--;
            if (leftTime <= 0) {
                clearInterval(interval);
                timerDisplay.innerText = "0";
                if (btnNext) {
                    btnNext.classList.remove("disabled");
                    btnNext.disabled = false;
                    btnNext.innerText = "⚔️ 戦闘を開始する";
                }
            } else {
                timerDisplay.innerText = leftTime;
            }
        }, 1000);
    }
    
    window.onload = startTimer;
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="warning-msg">⚠️ まだ戦闘できませんクポ！</div>
    
    <div class="timer-display">
        作戦の準備を整えるまで、あと<span id="timer-sec" class="timer-sec">{{ left_time }}</span>秒待ってくださいクポ。
    </div>
    
    <div class="btn-container">
        <form action="tenka.py" method="post">
        <input type="hidden" name="s" value="{{ csrf_token }}">
            <input type="hidden" name="mode" value="battle">
            <input type="hidden" name="id" value="{{ chara.id }}">
            <input type="hidden" name="mydata" value="{{ chara_log }}">
            <input type="hidden" name="no" value="{{ no }}">
            <button type="submit" id="btn-next" class="btn-action disabled" disabled>⏳ 待機中クポ...</button>
        </form>
        <a href="login.py?mode=main&id={{ chara.id }}&mydata={{ chara_log }}" class="btn-back">🏡 メイン画面へ</a>
    </div>
</div>
{% endblock %}
